.main-container
{
    padding: 10px 40px;
}

.nav-link
{
    font-size: 1.1rem;
}

.login-btn
{
    background-color: #7043e3;
    color: white;
    border-radius: 0;
}

.login-btn:hover
{
    background-color: #3b2476;
    /* background-color: rgb(107, 0, 107); */
    color: white;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.411);
}