*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.external{
    /* background-image:linear-gradient(rgba(242,7,215,0.7),rgba(242,7,215,0.7)),url("web-design-2906159.jpg"); */
    /* background-image: linear-gradient(to right, #f4c4f3, #fc67fa); */
    /* background-image: linear-gradient(to right, #000000 , #4D4855); */
    /* background-image: linear-gradient(to right, rgba(0, 166, 255, 0.5) , rgba(0,166,255,0.8)); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0 ,0 ,0 ,0.8)), url("pexels-kevin-ku-92347-577585.jpg"); */
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80vh;
}

.heading{
    font-size: clamp(30px, 4vw, 6vw);
}

.hero-heading{
    display: flex;
    justify-content: start;
    margin: auto;

}